.container {
  background-image: url("https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project2/cssProject2/grid.png");
  width: 960px;
  height: 780px;
  margin: auto;
  padding-top: 20px;
}

/* .longbox .shortbox {
  background-color: grey;
  opacity: 0.8;
} */

.longbox {
  background-color: grey;
  width: 940px;
  height: 100px;
  opacity: 0.8;
  margin: auto;
  float: left;
  margin-left: 10px;
}

.shortbox {
  background-color: grey;
  opacity: 0.8;
  float: left;
  width: 220px;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

#first {
  margin-left: 10px;
}
